html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    background-image: url('/assets/chatBackground.png');
}

.container {
    height: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0
}

